<div class="container mt-4">
  <button class="btn btn-success btn-sm action-button" (click)="addReservation()">
    Ajouter réservation
  </button>
  <button class="btn btn-success btn-sm action-button" [routerLink]="['/showfacture']">
    Facture
  </button>
  <button class="btn btn-success btn-sm action-button" (click)="navigateToShowTarif()">
    Get Code Promo
  </button>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons">search</i>
      </span>
    </div>
    <input [(ngModel)]="searchTerm" placeholder="Rechercher réservations" class="form-control">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>idReservation</th>
        <th>idClient</th>
        <th>duree</th>
        <th>montant</th>
        <th>statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of reservations">
        <td>{{ res.idreservation }}</td>
        <td>{{ res.idClient }}</td>
        <td>{{ res.duree }}</td>
        <td>{{ res.montant }}</td>
        <td>{{ res.statut }}</td>
        <td>
          <button class="btn btn-primary btn-sm action-button" (click)="showDetails(res.idreservation)">
            <i class="fas fa-info-circle"></i> Détails
          </button>
          <button class="btn btn-warning btn-sm action-button" (click)="editReservation(res.idreservation)">
            <i class="fas fa-edit"></i> Modifier
          </button>
          <button class="btn btn-danger btn-sm action-button"
          (click)="deleteReservation(res)"
          [disabled]="res.statut === 'ENATTENTE'">
    <i class="fas fa-trash-alt"></i> Supprimer
  </button>
         <!-- ShowReservationComponent HTML -->
<button class="btn btn-danger btn-sm action-button" (click)="payerFacture(res.idreservation)">
  <i></i> Payer l'addition
</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

