<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-...your-sha512-integrity-here..." crossorigin="anonymous" />

<div class="success-page">
    <h2>
        <i class="fas fa-check-circle"></i> Votre commande est en cours de préparation, il faudra quelques minutes.
    </h2>
    <p>En cas de retard, nous vous prions de nous excuser. Veuillez remplir une réclamation.</p>
    <span class="loading-dots">...</span>
    <button (click)="navigateToReclamation()">Réclamation</button>
</div>
  