<app-transparent-navbar></app-transparent-navbar>

<div class="main-content">
  <div class="image-container">
    <img src="assets/img/ghazela.jpg" alt="Welcome Image" class="welcome-image">
    <div class="welcome-text">GhazelaHeaven</div>
    <div class="divider-line"></div>
    <div class="divider-line-second"></div>
    <div class="culinary-text">Chaque Séjour est un Voyage Culinaire!</div>
    <div class="button-container">
      <button  [routerLink]="['/gestion-reservation/addRes']" class="book-now-button">Book now</button>
    </div>
  </div>
<app-footer></app-footer>
</div>
