<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-...your-sha512-integrity-here..." crossorigin="anonymous" />

<div class="success-page">
    <h2>
        <i class="fas fa-check-circle"></i> Votre table est réservée. Merci d'arriver à l'heure.
    </h2>
    <p>En cas d'imprévu, nous vous prions de nous en informer.    <span class="loading-dots">...</span>
    </p>
    <button (click)="navigateToHomePage()">Retour à la page d'accueil</button>
</div>